
  <footer class="footer">
    <div class="footer-div-1">
      <img class="footer-logo" src="images/logo-main.png" alt="">
    </div>

    <div class="footer-div-2">

      <table>
        <tr>
          <th class="th-footer">General</th>
          <th class="th-footer">Connect</th>
          <th class="th-footer">Legal</th>
          <th class="th-footer">Certificate</th>
          <th class="th-footer">See All App</th>
        </tr>

        <tr>
          <td class="footer-row-2 td-footer"><a class="footer-link" href="/about">About Us</a></td>
          <td class="footer-row-2 td-footer"><a class="footer-link" href="#">Career</a></td>
          <td class="footer-row-2 td-footer"><a class="footer-link" href="#">Terms & Condition</a></td>
          <td class="footer-row-2 td-footer"><a class="footer-link" href="https://socialjustice.gov.in/"><img class="footer-link-logo" src="../images/csc-logo.jpg" alt=""></a></td>
          <td class="td-footer">
            <a class="footer-link" href="https://www.instagram.com/zrehman_infotech/"><img class="footer-social-logo" src="images/newinsta.gif" alt=""></a>
            <a class="footer-link" href="https://www.facebook.com/"><img class="footer-social-logo" src="images/fb.png" alt=""></a>
          </td>
        </tr>

        <tr>
          <td class="footer-row-2  td-footer"><a class="footer-link" href="/business">Web Solution</a></td>
          <td class="footer-row-2 td-footer"><a class="footer-link" href="/contact">Contact Us</a></td>
          <td class="footer-row-2 td-footer"><a class="footer-link" href="#">Privacy & Policy</a></td>
          <td class="footer-row-2 td-footer"><a class="footer-link" href="https://www.digitalindia.gov.in/"><img class="footer-link-logo" src="../images/digital-india.png" alt=""></a></td>
          <td class="td-footer">
            <a class="footer-link" href="https://www.linkedin.com/"><img class="footer-social-logo" src="images/in.jpg" alt=""></a>
            <a class="footer-link" href="https://web.whatsapp.com/"><img class="footer-social-logo" src="images/whatsapp.png" alt=""></a>
          </td>

        <tr>
          <td class="td-footer"><a class="footer-link" href="/business">Business Solution</a></td>
        </tr>

        <tr>
          <td class="td-footer">@ 2022,All rights reserved</td>
        </tr>
      </table>

    </div>
  </footer>
</body>

</html>
