<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Z-Rehman InfoTech</title>
    <link rel="stylesheet" href="Style/header.css">
    <link rel="stylesheet" href="Style/index.css">
    <link rel="stylesheet" href="Style/loginSignupPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&family=Ubuntu:ital,wght@0,400;0,500;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="Style/footer.css">
    <link rel="stylesheet" href="Style/business.css">




</head>

<body>

  <header class="header">

      <div class="header-div-1">
          <a href="/"><img class="header-logo" src="../images/logo-main.png" alt=""></a>
      </div>

      <div class="header-div-2">
          <button class="header-button" type="button" name="button"><a class="header-a" href="/business">BUSINESS SOLUTION</a></button>
          <button class="header-button" type="button" name="button"><a class="header-a" href="/services">SERVICES</a></button>
          <button class="header-button" type="button" name="button"><a class="header-a" href="/about">ABOUT US</a></button>
          <button class="header-button" type="button" name="button"><a class="header-a" href="/contact">CONTAC US</a></button>
          <button class="header-button" type="button" name="button"><a class="header-a" href="/trust">TRUST & SAFTY</a></button>
          <button class="header-button" type="button" name="button"><a class="header-a" href="/loginPage">LOGIN</a></button>
      </div>

  </header>
