.business-img{
  width:100%;
  display: block;
}

.business-care-td{
  width: 50%;
}
.business-care-img{
  width: 80%;
}

.business-last-heading-1{
  color: #7C99AC;
}

.business-button{
  width: 50%;
  height: 40px;
  border-radius: 20px;
  background-color: white;
  border:2px solid #7C99AC;
  margin: 5px;
  font-size: 22px;
  color:#7C99AC;
}

.business-div p{
  font-size: 20px;
  text-align: left;
  margin:20px auto 20px 0px;
}

.business-button:hover{
    background-color: #7C99AC;
    color: white;
    width:51%;
    font-size: 23px;
}
