<%- include("partials/header") -%>


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../Style/about.css">
  </head>
  <body>
    <hr>
<video class="about-video" src="../videos/about.mp4"autoplay loop muted poster="posterimage.jpg">

</video>
<img class="about margin-right" src="../images/intro-2.png" alt="">


  </body>
</html>

<%- include("partials/footer") -%>
