<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Z-Rehman InfoTech</title>
    <link rel="stylesheet" href="/Style/header.css">
  </head>
  <body>

    <header class="header">
      <div class="header-div-1">
        <a class="header-a" href="/"><img class="header-logo" src="../images/logo.png" alt=""></a>
      </div>

      <div class="header-div-2" style="padding-left:700px">

        <button class="header-button" type="button" name="button"> <%=ziya%> </button>
        <button class="header-button" type="button" name="button"><a class="header-a" href="/">LOGOUT</a></button>
      </div>



    </header>

    <!DOCTYPE html>
    <html lang="en" dir="ltr">
      <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="../Style/services.css">
      </head>
      <body>
      <hr>
      <h1 class="heading-service">Our Features & Services.</h1>

    <div class="service-div service-div-l">
      <img src="../images/index-gst-registration.jpg" alt="">
      <h2 class="service-heading">GST Registration</h2>
      <p class="service-p">We provide GST Registration Service to our Customers at very affordable price.</p>
      <button class="service-button" type="button" name="button">Get Service</button>
    </div>

    <div class="service-div service-div-m">
      <img src="../images/index-gst-retrun-filing.jpg" alt="">
      <h2 class="service-heading">GST Return</h2>
      <p class="service-p">We are filling all types of GST Return like: GSTR-1, GSTR-2A, GSTR-2B, GSTR-3B, GSTR-4 etc</p>
      <button class="service-button" type="button" name="button">Get Service</button>
    </div>

    <div class="service-div service-div-r">
      <img src="../images/income-tax-return.webp" alt="">
      <h2 class="service-heading">ITR - Income Tax Return</h2>
      <p class="service-p">We are filling all types of ITR like: ITR-1, ITR-2, ITR-3, ITR-4, ITR-5, ITR-6, ITR-7 etc</p>
      <button class="service-button" type="button" name="button">Get Service</button>
    </div>


      </body>
    </html>

  </body>
</html>
