<%- include("partials/header") -%>

    <img class="business-img" src="../images/business-1.png" alt="">
    <img class="business-img" src="../images/business-2.png" alt="">
    <img class="business-img" src="../images/business-3.png" alt="">
    <img class="business-img" src="../images/business-4.png" alt="">

<div class="business-div">
  <table>
    <tr>
      <td class="business-care-td"><img class="business-care-img" src="../images/business-care.jpeg" alt=""></td>
      <td class="business-care-td">
        <h1 class="business-last-heading-1">Contact Us</h1>
        <h1 class="business-last-heading-1">Today</h1>
        <a href="/contact"><button class="business-button" type="button" name="button">Contact Now</button></a>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=zrehmaninfotech@yahoo.com"><button class="business-button" type="button" name="button">Mail Us</button></a>
        <p style="text-align: center;">Social:</p>
        <a class="footer-link" href="https://www.instagram.com/zrehman_infotech/"><img class="footer-social-logo" src="images/newinsta.gif" alt=""></a>
        <a class="footer-link" href="https://www.facebook.com/"><img class="footer-social-logo" src="images/fb.png" alt=""></a>
        <a class="footer-link" href="https://www.linkedin.com/"><img class="footer-social-logo" src="images/in.jpg" alt=""></a>
        <a class="footer-link" href="https://web.whatsapp.com/"><img class="footer-social-logo" src="images/whatsapp.png" alt=""></a>
        </tr>

  </table>
</div>





<%- include("partials/footer") -%>
