<%- include("partials/header") -%>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../Style/contact.css">
  </head>
  <body>
<img class="contact-poster" src="../images/contact-poster.png" alt="">

<br>
<h1 class="contact-heading-last">Let's Connect!</h1>
<a href="https://mail.google.com/mail/?view=cm&fs=1&to=zrehmaninfotech@yahoo.com"><button class="contact-button-last" type="button" name="button">Mail Us</button></a>
  </body>
</html>



<%- include("partials/footer") -%>
