
<%- include("partials/header") -%>
<div class="index-slideshow-container">

    <div class="index-slide index-fade">
        <img src="../images/index-poster-1.png" alt="" style="width:100%">
    </div>

    <div class="index-slide index-fade">
        <img src="../images/index-poster-2.png" alt="" style="width:100%">
    </div>

</div>


<div style="text-align:center">

   <span class="index-dot" onclick="currentSlide(1)"></span>
   <span class="index-dot" onclick="currentSlide(2)"></span>

</div>


<div class="index-services">

  <h1>Our Services</h1>

  <div class="index-services-sub index-services-1">
        <img src="images/insurance.gif" alt="">
        <h3>Insurance</h3>
        <a href="#"><h4>Know More</h4></a>
  </div>

  <div class="index-services-sub index-services-2">
        <img src="images/tax.gif" alt="">
        <h3>Tax: ITR,GST,TDS</h3>
        <a href="#"><h4>Know More</h4></a>
  </div>

  <div class="index-services-sub index-services-3">
        <img src="images/website.gif" alt="">
        <h3>Web Solution</h3>
        <a href="#"><h4>Know More</h4></a>
  </div>

  <div class="index-services-sub index-services-4">
        <img src="images/cash.gif" alt="">
        <h3>ATM-Machine</h3>
        <a href="#"><h4>Know More</h4></a>
  </div>

</div>


<div class="index-customer">
  <h1>10+ Thousands</h1>
  <h1>Satisfied customers across India</h1>
  <a href="#"><button type="button" name="button"><h3>Explore Services ➔</h3></button></a>
</div>

<div class="index-services-icons">
  <img src="images/services-1.png" alt="">
  <img class="index-services-icons-bottom" src="images/services-2.jpg" alt="">
  <img src="images/services-3.webp" alt="">
  <img class="index-services-icons-bottom" src="images/services-4.jpeg" alt="">
  <img src="images/services-5.jpg" alt="">
  <img class="index-services-icons-bottom" src="images/services-6.png" alt="">
  <img src="images/services-7.png" alt="">

</div>


<div class="our-partners">
  <h1>Our Partners</h1>
  <img src="images/services-1.png" alt="">
  <img src="images/services-3.webp" alt="">
  <img src="images/services-4.jpeg" alt="">
  <img src="images/partners-1.png" alt="">
  <img src="images/partners-2.jpg" alt="">
  <img src="images/partners-3.png" alt="">
</div>


<%- include("partials/footer") -%>

<script src="../script/index.js" charset="utf-8"></script>


  </body>
</html>
