<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Z-Rehman InfoTech</title>
    <link rel="stylesheet" href="Style/loginSignupPage.css">
    <link rel="stylesheet" href="Style/footer.css">
  </head>
  <body>

<form class="" action="/signup" method="post">
  <div class="login-div">

    <img id="login-img" src="../images/logo.png" alt="">
    <br>
    <h1 class="SignUp-Thanks-Heading">Your are Login Now</h1>
    <br>
    <h1 class="SignUp-Thanks-Heading">Welcome <%=loginperson%></h1>
    <br>
    <a class="login-a" href="/"><button class="login-button login-button-1" type="button" name="button">Logout</button></a>
    <br>

  </div>
</form>

<%- include("partials/footer") -%>
