<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style/logoPage.css">
  </head>
  <body>

<form class="" action="/signup" method="post">
  <div class="login-div">

    <img id="login-img" src="../images/logo.png" alt="">
    <br>
    <h1 class="SignUp-Thanks-Heading">Thank You for SignUp</h1>
    <br>
    <a class="login-a" href="/loginPage"><button class="login-button login-button-1" type="button" name="button">Login</button></a>
    <br>

  </div>
</form>

  </body>
</html>
