
<%- include("partials/header") -%>

<div class="login-page">

  <div class="login-div-1">
     <h2>Welcome to Z-Rehman InfoTech</h2>
     <p>Sign Up using your Details</p>

    <form class="" action="/signup" method="post">
      <div class="login-div">

        <img id="login-img" src="images/logo-main.png" alt="">
        <br>
        <input id="login-userid" type="text" name="name" value="" placeholder="Name" required>
        <br>
        <input id="login-userid" type="number" name="mobileNo" value="" placeholder="Mobile Number" maxlength="10" required>
        <br>
        <input id="login-userid" type="email" name="email" value="" placeholder="Email" required>
        <br>
        <input id="login-userid" type="text" name="passward" value="" placeholder="Create Passward" required>
        <br>
        <a class="login-a" href="#"><button class="login-button login-button-1" type="submit" name="button">Register</button></a>
        <br>
      </div>

    </form>
  </div>

  <div class="login-div-2">
    <img src="images/login-image.jpg" alt="">
  </div>
</div>


<!--
<div class="login-page">
  <div class="login-div-1">
     <form class="" action="/signup" method="post">
       <div class="login-div">

         <img id="login-img" src="../images/logo.png" alt="">
         <br>
         <input id="login-userid" type="text" name="name" value="" placeholder="Name" required>
         <br>
         <input id="login-userid" type="number" name="mobileNo" value="" placeholder="Mobile Number" maxlength="10" required>
         <br>
         <input id="login-userid" type="email" name="email" value="" placeholder="Email" required>
         <br>
         <input id="login-userid" type="text" name="passward" value="" placeholder="Create Passward" required>
         <br>
         <a class="login-a" href="#"><button class="login-button login-button-1" type="submit" name="button">Register</button></a>
         <br>

       </div>
     </form> -->


</div>






<%- include("partials/footer") -%>
