<%- include("partials/header") -%>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../Style/trust.css">
  </head>
  <body>
    <video width="100%" autoplay muted>
      <source src="../videos/trustVideo.mp4" type="video/mp4">
    Your browser does not support the video tag.
    </video>

  <img class="trust-poster-2" src="../images/trust-poster-2.png" alt="">
  <div class="">
    <h1 class="trust-last">Your Security.Our Priority.</h1>
    <a href="/signup"><button class="trust-last-button" type="button" name="button">Sign Up</button></a>
  </div>
  </body>
</html>




<%- include("partials/footer") -%>
